*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    font-family: 'Ubuntu', sans-serif;
    opacity: 0.6;

}
#logo{
    margin: 10px 34px;

}
#logo img{
   height:  65px;
   margin: 3px 6px;

}
#navbar ul{
    display: flex;

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;

}
/*home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 670px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('../project2img/food1.jpg')no-repeat center center/cover;
    height: 76%;
    width: 100%;
    z-index: -1;
    opacity: 0.90;
}
.primary{
    font-size: 3.8rem;
    padding: 12px;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}
#home p{
    font-size :1.5rem; ;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.btn{
    padding: 6px 20px;
    border: 1px solid red;
    background-color: brown;
    color: white;
    margin: 17px;
    border-radius: 15px;
    font-size: 1.4rem;
    cursor: pointer;
}
.btn:hover{
    background-color: red;
}
#services{
    margin: 34px;
    display: flex;

}
.primary1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;


}
#services .box{
    border: 2px solid brown;
    padding: 30px;
    margin: 20px 20px;
    border-radius: 15px;
    background-color:rgb(245, 238, 238);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 20px;



}
#services .box img{
    height: 100px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem;
}
 .heading3{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    
 }
#clients-section{
    height: 344px;
    position: relative;
    
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../project2img/new2.jpg') center;
    width: 100%;
    height: 30%;
    z-index: -1;
    opacity: 0.8;

}
#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 150px;
}
.client-item{
    padding: 35px;

}
.heading4{
    text-align: center;
    margin: 50px;
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(15, 14, 14);

}
#contact{
    position: relative;
    
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 110%;
    z-index: -1;
    opacity: 0.8;
    background: url('../project2img/contact1.jpg') no-repeat center center/cover ;
    margin-top: -50px;
    
}
footer{
    background: rgb(83, 78, 78);
    color: white;
    text-align: center;
    padding: 3px;

}


.contact-box{
    display:flex;
    justify-content: center;
    
 
    padding-bottom: 34px;

}
.contact-box input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;

}
.contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;

}
.contact-box form{
    width: 40%;

}
.contact-box label{
    font-size: 1.7rem;
    font-family: 'Ubuntu', sans-serif;

}